- extends "application.haml"

- load infrastructure_project_tags 
- block sidebar
  - show_shortcuts
- block content
  %h2 Search
  #project-list
    - if query
      %h3 Results for '{{query}}'
      %ul
        - for result in page.object_list
          %li
            %a{href: '/project/{{ result.object.pk }}'}= result.object.SP_PROJECT_NM
        - empty 
          %p No results found
        - if page.has_previous or page.has_next
          %div
            - if page.has_previous
              %a{href: '?q={{ query }}&amp;page={{ page.previous_page_number }}' }
                &laquo; Previous
            |
            - if page.has_next
              %a{href: '?q={{ query }}&amp;page={{ page.next_page_number }} '}
                Next &raquo;
    - else
        {# Show some example queries to run, maybe query syntax, something else? #}

