#nav {
  background: #B55B52;
  height: 40px;
  border-bottom: 1px solid #CD8E6D;
  ul li {
    float:left;
    padding: 10px 20px;
    a {
      font-size: 20px;
      color: #fff;
      &:hover {
        background: none;
      }
    }
    &.search {
      form {
        margin: 0;
        input {
          height: 20px;
          line-height: 20px;
          margin: 0 5px 0;
          font-size: em(12);
          float: left;
          width: 100px;
          &[type="submit"] {
            width: 60px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
