body {
  background: #fff url('../images/furley_bg.png') top left repeat;
}
#main {
  padding: 0;
}
#main #map {
  width:100%;
  height:500px;
}
#nav {
  width:100%;
  background: #B55B52;
  height: 40px;
  border-bottom: 1px solid #CD8E6D;
}
#nav ul li {
  float:left;
  padding: 10px 20px;
}
#nav ul li a {
  font-size: 20px;
  color: #fff;
}
#nav ul li a:hover {
  background: none;
}
#dashboard {
  position:relative;
}
#dashboard h1 {
  position:absolute;
  top: 20px;
  left:40px;
  width: 20%;
  font-size: 100px;
  line-height: 90px;
  z-index:2;
}
#dashboard h5 {
  position:absolute;
  bottom: 20px;
  left:40px;
  z-index:2;
}
#sidebar-container {
  background: #F9E9B6;
}
#content-container {
  background: #fff;
}
.map-container {
  position:relative;
  border-bottom: 1px solid #ccc;
}
.content {
  padding:20px 40px;
  overflow:auto;
}
#content {
  padding:20px;
  border: 1px solid #E3C9BC;
}
#shortcuts {
  padding: 10px 20px;
  border: 1px solid #E1BB7C;
}
#shortcuts a {
  color: #B55B52;
}
a {
  color: #B55B52;
}
#footer {
  margin: 20px 0;
}
.widget {
  float:left;
  width: 180px;
  height: 180px;
  border:1px solid #CD8E6D;
  padding: 10px;
  margin: 10px;
}
#dashboard .widget {
  background: #fff;
}
.widget h2 {
  font-size:100px;
  line-height: 110px;
  text-align:center;
}
.widget h2 span {
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  float: right;
  margin-top: -15px;
}
.widget h6 {
  text-align:center;
  font-size: 22px;
  line-height: 24px;
}
#filter {
  clear: left;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #efefef url('../images/lightpaperfibers.png') top left repeat;
  padding: 5px 10px 15px;
  color: #504F54;
  margin: 0 0 30px 0;
}
#filter li {
  float:left;
  padding: 5px 10px;
}
#projects {
  clear: left;
}
#projects dl {
  margin: 0;
  clear:both;
  overflow:auto;
}
#projects li {
  padding: 5px 10px 5px 40px;
  display:block;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  clear:both;
}
#projects dt {
  font-size: 18px;
  line-height: 24px;
}
#projects dd {
  padding: 5px 20px 5px 0;
  margin: 0;
  float:left;
  color: #777;
}
.detail-icon {
  padding: 5px 0 5px 40px;
}
.design {
  background: url('../images/icons/glyphicons_234_brush.png');
  background-position: center left;
  background-repeat: no-repeat;
}
.construction {
  background: url('../images/icons/glyphicons_430_construction_cone.png') center left no-repeat;
}
.planning {
  background: url('../images/icons/glyphicons_335_pushpin.png') center left no-repeat;
}
.post-construction {
  background: url('../images/icons/glyphicons_331_dashboard.png') center left no-repeat;
}
.bid {
  background: url('../images/icons/glyphicons_458_money.png') center left no-repeat;
}
.completed {
  background: url('../images/icons/glyphicons_206_ok_2.png') center left no-repeat;
}
.buildings {
  background: url('../images/icons/commercial-24.png') center left no-repeat;
}
.airport {
  background: url('../images/icons/airport-24.png') center left no-repeat;
}
.storm-water-drainage {
  background: url('../images/icons/telephone-24.png') center left no-repeat;
}
.parks {
  background: url('../images/icons/park2-24.png') center left no-repeat;
}
.transportation {
  background: url('../images/icons/bus-24.png') center left no-repeat;
}
.sewer {
  background: url('../images/icons/wetland-24.png') center left no-repeat;
}
.water {
  background: url('../images/icons/water-24.png') center left no-repeat;
}
#shortcuts ul {
  margin: 0;
}
#shortcuts ul li {
  list-style: none;
  margin: 0 0 5px 0;
}

#project .row-fluid {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#project #map {
  height: 220px;
}
#project h4 img {
  padding: 0 20px 0 5px;
}
#project .axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#project .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
