body {
  background: #fff url('../images/furley_bg.png') top left repeat;
}
#main {
  padding: 0;
}
#main #map {
  width:100%;
  height:500px;
}
#nav {
  width:100%;
  background: #B55B52;
  height: 40px;
  border-bottom: 1px solid #CD8E6D;
}
#nav ul li {
  float:left;
  padding: 10px 20px;
}
#nav ul li a {
  font-size: 20px;
  color: #fff;
}
#nav ul li a:hover {
  background: none;
}
#dashboard {
  position:relative;
}
#dashboard h1 {
  position:absolute;
  top: 20px;
  left:40px;
  width: 20%;
  font-size: 100px;
  line-height: 90px;
  z-index:2;
}
#dashboard h5 {
  position:absolute;
  bottom: 20px;
  left:40px;
  z-index:2;
}
#sidebar-container {
  background: #F9E9B6;
}
#content-container {
  background: #fff;
}
.map-container {
  position:relative;
  border-bottom: 1px solid #ccc;
}
.content {
  padding:20px 40px;
  overflow:auto;
}
#content {
  padding:20px;
  border: 1px solid #E3C9BC;
}
#shortcuts {
  padding: 10px 20px;
  border: 1px solid #E1BB7C;
}
#shortcuts a {
  color: #B55B52;
}
a {
  color: #B55B52;
}
#footer {
  margin: 20px 0;
}
.widget {
  float:left;
  width: 220px;
  height: 220px;
  border:1px solid #375585;
  margin: 10px;
  background: #fff;
}
.widget .content {
  padding: 10px 0;
  position: relative;
}
#dashboard .widget {
}
.widget h2 {
  font-size:90px;
  line-height: 100px;
  text-align:center;
  margin: 0px;
  color: #222;
  text-shadow: 0px 2px 3px #eee;
  //text-shadow: 1px 1px 0px #666;
}
.widget h2 span {
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  bottom: 10px;
}
.widget h6 {
  text-align:center;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 10px;
  background-color: #A6C4F4;
  background-size: 10%;
  background-position: 5px center;
  border-bottom: 1px solid #375585;
  color: #444;
  font-weight: normal;
}
#filter {
  clear: left;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #efefef url('../images/lightpaperfibers.png') top left repeat;
  padding: 5px 10px 15px;
  color: #504F54;
  margin: 0 0 30px 0;
}
#filter li {
  float:left;
  padding: 5px 10px;
}
#project-list #projects .tabs{
  position: absolute;
  top: 20px;
  left: -38px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-right: none;
}
#projects .tabs li {
  list-style: none;
  padding: 5px;
  margin: 0;
  background: #eee;
  border-right: 1px solid #ccc;
}
#projects .tabs li.active {
  background: #fff;
  border-right: 1px solid #fff;
}
#projects .tabs li.last {
  border-bottom:none;
}
#projects ul.views {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-top: none;
  color: #ccc;
}
#projects ul.views li{
  padding: 5px;
  margin: 0;
  border:none;
  border-right: 1px solid #ccc;
  float:left;
  clear: none;
}
#projects ul.views li.last {
  border:none;
}
#projects {
  clear: left;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px 10px 10px 30px;
  position:relative;
  min-height: 200px;
}
#projects dl {
  margin: 0;
  clear:both;
  overflow:auto;
}
#projects li {
  padding: 5px 10px 5px 40px;
  display:block;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  clear:both;
}
#projects dt {
  font-size: 18px;
  line-height: 24px;
}
#projects dd {
  padding: 5px 20px 5px 0;
  margin: 0;
  float:left;
  color: #777;
}
.detail-icon {
  padding: 5px 0 5px 40px;
}
.design {
  background: url('../images/icons/glyphicons_234_brush.png');
  background-position: center left;
  background-repeat: no-repeat;
}
.construction {
  background: url('../images/icons/glyphicons_430_construction_cone.png') center left no-repeat;
}
.planning {
  background: url('../images/icons/glyphicons_335_pushpin.png') center left no-repeat;
}
.post-construction {
  background: url('../images/icons/glyphicons_331_dashboard.png') center left no-repeat;
}
.bid {
  background: url('../images/icons/glyphicons_458_money.png') center left no-repeat;
}
.completed {
  background: url('../images/icons/glyphicons_206_ok_2.png') center left no-repeat;
}
.buildings {
  background: url('../images/icons/commercial-24.png') center left no-repeat;
}
.airport {
  background: url('../images/icons/airport-24.png') center left no-repeat;
}
.storm-water-drainage {
  background: url('../images/icons/telephone-24.png') center left no-repeat;
}
.parks {
  background: url('../images/icons/park2-24.png') center left no-repeat;
}
.transportation {
  background: url('../images/icons/bus-24.png') center left no-repeat;
}
.sewer {
  background: url('../images/icons/wetland-24.png') center left no-repeat;
}
.water {
  background: url('../images/icons/water-24.png') center left no-repeat;
}
#shortcuts ul {
  margin: 0;
}
#shortcuts ul li {
  list-style: none;
  margin: 0 0 5px 0;
}

#project .row-fluid {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#project #map {
  height: 220px;
}
#project h4 img {
  padding: 0 20px 0 5px;
}
#project .axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
#project .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#project-list #stats .widget h2 {
  font-size: 35px;
  line-height: 37px;
}
#project-list #stats .widget {
  width: 100px;
  height: 100px;
  margin: 10px;
}
#project-list #stats .widget h6{
  font-size: 11px;
  line-height: 12px;
  padding: 5px;
}
#project-list #stats {
  display:none;
  padding: 0px 20px;
}
