a {
  color: #62ACC2;
}
#footer {
  margin: 20px 0;
}
#filter {
  clear: left;
  overflow: hidden;
  border: 1px solid #30546A;
  background: #476B7B;
  padding: 5px 10px 15px;
  color: #fff;
  margin: 0 0 30px 0;
}
#filter li {
  float:left;
  padding: 5px 10px;
}
#projects {
  clear: left;
}
#projects dl {
  margin: 0;
  clear:both;
  overflow:auto;
}
#projects li {
  padding: 5px 10px 5px 40px;
  display:block;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
  clear:both;
}
#projects dt {
  font-size: 18px;
  line-height: 24px;
}
#projects dd {
  padding: 5px 20px 5px 0;
  margin: 0;
  float:left;
  color: #777;
}
.detail-icon {
  padding: 5px 0 5px 40px;
}
.design {
  background: url('../images/icons/glyphicons_234_brush.png') center left no-repeat;
}
.construction {
  background: url('../images/icons/glyphicons_430_construction_cone.png') center left no-repeat;
}
.planning {
  background: url('../images/icons/glyphicons_335_pushpin.png') center left no-repeat;
}
.post-construction {
  background: url('../images/icons/glyphicons_331_dashboard.png') center left no-repeat;
}
.bid {
  background: url('../images/icons/glyphicons_458_money.png') center left no-repeat;
}
.completed {
  background: url('../images/icons/glyphicons_206_ok_2.png') center left no-repeat;
}
.buildings {
  background: url('../images/icons/commercial-24.png') center left no-repeat;
}
.airport {
  background: url('../images/icons/airport-24.png') center left no-repeat;
}
.storm-water-drainage {
  background: url('../images/icons/telephone-24.png') center left no-repeat;
}
.parks {
  background: url('../images/icons/park2-24.png') center left no-repeat;
}
.transportation {
  background: url('../images/icons/bus-24.png') center left no-repeat;
}
.sewer {
  background: url('../images/icons/wetland-24.png') center left no-repeat;
}
.water {
  background: url('../images/icons/water-24.png') center left no-repeat;
}
#shortcuts ul {
  margin: 0;
}
#shortcuts ul li {
  list-style: none;
  margin: 0 0 5px 0;
}

#project .row-fluid {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#project #map {
  height: 220px;
}
#project h4 img {
  padding: 0 20px 0 5px;
}
#project .axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#project .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
