
- load bootstrap_toolkit
- load staticfiles
- load django_select2_tags
- load static from staticfiles
%html
  %head
    %title
      - block title
    %script{src: '{{ STATIC_URL }}js/jquery.js' }
    %script{src: '{{ STATIC_URL }}js/main.js' }
	  - import_django_select2_js
	  - import_django_select2_css
    - bootstrap_stylesheet_tag
    - bootstrap_stylesheet_tag "responsive"
    %link{href: "{% static 'css/main.css' %}", rel:'stylesheet', type:'text/css'}
  %body
    .container
      .navbar
        .navbar-inner
          %ul.nav
            %li
              %a{href: "{% url 'projects_list' as projects_link %}" } Projects
      %h1 Infrastructure San Diego
      .row
        .span2.hidden-phone
          - block sidebar
        .span10
          - block content
