- extends "index.haml"
- block title
  Infrastructure
- load infrastructure_project_tags 
- block sidebar
  - show_shortcuts
  
- block content
  - load humanize
  #dashboard
    .map-container
      %h1 CIP San Diego
      %h5 Capital Improvements Program (CIP)
      #map{style: "background: #ccc;"}
    .content
      - widgets
