- extends "application.haml"
- block title
  Infrastructure
- load infrastructure_project_tags 
- block sidebar
  - show_shortcuts
  
- block content
  - load humanize

  - for widget in widgets
    .widget
      %h2 {{widget.value}}
      %h6 {{widget.headline}}
