- load tags 
#projects
  - for project in projects
    - project_list_item project
#pagination
  - if page_obj.has_previous
    %span
      %a{href:'#prev', "data-page": '{{page_obj.previous_page_number}}', class: 'btn' } prev
  %span
    Page
    %a{href:'#{{page_obj.number}}', "data-page": '{{page_obj.number}}'}= page_obj.number
    of
    %a{href:'#last', "data-page": '{{paginator.num_pages}}'}= paginator.num_pages
  - if page_obj.has_next
    %span
      %a{href:'#next', "data-page": '{{page_obj.next_page_number}}', class: 'btn' } next
