- extends "application.haml"
- block title
  Infrastructure
- load infrastructure_project_tags 
- block sidebar
  - show_shortcuts
  
- block content
  - load humanize
  #filter
    %h5 Filter
    %form#projects_filter{ method: "post", action: "/projects/filter"}
        - csrf_token
        = form.as_ul
        %input#page{ type:"hidden", name: "page", value: 1}
      %li
        %input#submit{ type:"submit", value:"Submit Form" }

  #project-list
    %h3 Currently running Projects ordered by Award start
    - pagination_count
    
    #stats
      - widgets
    #projects
      - for project in projects
        - project_list_item project
    - pagination
