- load static from staticfiles
- load humanize
- load infrastructure_project_tags 
%li{  class: 'icon {{asset_type}}'  }
  %dl
    %dt
      %a{href: '{{link}}'}
        = project.SP_PROJECT_NM|truncatechars:60
      .district
        D{{project.SP_COUNCIL_DISTRICTS}}
    %dd.status
      %ul.icons
        %li{'class': "planning progress{% is_active phase 'planning' %}"}
          .date {{project.SP_PRELIM_ENGR_START_DT}}
        %li{'class': "design progress{% is_active phase 'design' %}"}
          .date {{project.SP_DESIGN_INITIATION_START_DT}}
        %li{'class': "bid progress{% is_active phase 'bid' %}"}
          .date {{project.SP_BID_START_DT}}
        %li{'class': "construction progress{% is_active phase 'construction' %}"}
          .date {{project.SP_CONSTRUCTION_START_DT}}
        %li{'class': "post-construction progress{% is_active phase 'post-construction' %}"}
          .date {{project.SP_CONSTR_FINISH_DT}}
        %li{'class': "completed progress{% is_active phase 'completed' %}"}
          .date {{project.SP_BO_BU_DT}}
  .finances
    %p
      ${{project.SP_TOTAL_PROJECT_COST|intcomma}} 
      %br
      %span total cost
    %p
      ${{project.SP_TOTAL_CONSTRUCTION_COST|intcomma}} 
      %br
      %span constr. cost
