- extends "application.haml"
- block title
  Infrastructure
- load infrastructure_project_tags 
- block sidebar
  - show_shortcuts
  
- block content
  - load humanize
  #filter
    %h5 Filter
    %form#projects_filter{ method: "post", action: "/projects/filter"}
        - csrf_token
        .row
          .span3
            %label{ for:"id_project_costs" } Project Costs:
            {{ form.project_cost }}
          .span3
            %label{ for:"id_current_phase" } Current Phase:
            {{ form.current_phase }}
          .span3
            %label{ for:"id_asset_type" } Asset Type:
            {{ form.asset_type }}
        .row
          .span3
            %label{ for:"id_specific_asset_type" } specific Asset Type:
            {{ form.specific_asset_type }}
          .span3
            %label{ for:"id_client_department" } Department:
            {{ form.client_department }}
          .span3
            %label{ for:"id_district" } District:
            {{ form.district }}
        .row
          .span3
            %label{ for:"id_delivery_method" } Delivery mehtod:
            {{ form.delivery_method }}
          .span3
            %label{ for:"id_dataset" } Year:
            {{ form.dataset }}
          .span3
            %label{ for:"id_order" } Order:
            {{ form.order }}
        %input#page{ type:"hidden", name: "page", value: 1}
      .clear
      %br
      %input#submit{ type:"submit", value:"Filter" }
      %input#submit{ type:"reset", value:"Reset Form" }

  #project-list
    %h3 Currently running Projects ordered by Award start
    - pagination_count
    #projects
      %ul.tabs
        %li{class: 'active'}
          %a{href: "#", "data-tab": "list" }
            %img{src: "{{STATIC_URL}}/images/icons/glyphicons_114_list.png"}
        %li.last
          %a{href: "#", "data-tab": "stats" }
            %img{src: "{{STATIC_URL}}/images/icons/glyphicons_040_stats.png"}
      %ul.views{style: 'display:none;'}
        %li
          %a{href: '#'} Expanded
        %li.last
          %a{href: '#'} Compact
      #stats.tab-view
        - widgets
      #list.tab-view
        - for project in projects
          - project_list_item project
        - pagination
