- extends "application.haml"
- block title
  Infrastructure
- load tags 
- block sidebar
  - show_shortcuts
  
- block content
  - load humanize
  %h2 Current Projects
  #filter
    %h5 Filter
    %form#projects_filter{ method: "post", action: "/projects/filter"}
        - csrf_token
        = form.as_ul
        %input#page{ type:"hidden", name: "page", value: 1}
      %li
        %input#submit{ type:"submit", value:"Submit Form" }

  #projects
    - for project in projects
      - project_list_item project
