#shortcuts
  - for shortcut in shortcuts
    %h5= shortcut.title
    %ul
      - for link in shortcut.links
        %li{class: 'detail-icon {{link.image_class}}' }
          %a{href: '{{ link.url }}' }= link.name
